@import "styles/atoms/_mixins.scss";
@import "styles/atoms/_variables.scss";

%image-hero{
    @include image-style($width:$image-width-hero,$height:$image-height-hero);
}

%image-client_compo{
    @include image-style($image-size-client_compo,$image-size-client_compo);
    transition:transform 0.3s ease, filter 0.3s ease; 
}

%image-client_compo--hover{
    transform: scale(1.2);       
    filter: brightness(1.2); 
}

%image-value_proposition--card{
    @include image-style($image-width-value_proposition--card,$image-height-value_proposition--card);   
}

%image-article_preview{
    @include image-style($image-width-article_preview,$image-height-article_preview);
}

%image-pixelgrade_comp{
    @include image-style($image-pixelgrade_comp-width,$image-pixelgrade_comp-height);
}

%image-demo-arrow{
    @include image-style($image-size-demo-arrow,$image-size-demo-arrow);
}

