
//typography
$font-family-base: 'Inter', sans-serif;

$font-weight-h2: 600;
$font-weight-regular: 400;

$font-style-h2: Semi Bold;
$font-style-regular: Regular;

$font-size-h2: 36px;
$font-size-regular:16px;

$line-height-h2: 44px;
$line-height-regular:24px;




//colors
$color-heading-primary:rgba(77, 77, 77, 1);
$color-heading-regular-gray:rgba(113, 113, 113, 1);




