
//typography
$font-family-base: 'Inter', sans-serif;

$font-weight-regular: 400;
$font-weight-medium:500;
$font-weight-h2: 600;
$font-weight-h3:700;

$font-style-h2: Semi Bold;
$font-style-h3: Bold;
$font-style-regular: Regular;
$font-style-medium: Medium;

$font-size-h1: 64px;
$font-size-h2: 36px;
$font-size-h3: 28px;
$font-size-h4: 20px;
$font-size-regular:16px;
$font-size-regular-small:14px;

$line-height-h1:76px;
$line-height-h2: 44px;
$line-height-h3: 36px;
$line-height-h4: 28px;
$line-height-regular:24px;
$line-height-regular-small:20px;

//colors
$color-logo:rgba(76, 175, 79, 1);

$color-heading-h1:rgba(38, 50, 56, 1);
$color-heading-primary:rgba(77, 77, 77, 1);
$color-heading-regular-gray:rgba(113, 113, 113, 1);

$color-card-bg:rgba(255, 255, 255, 1); 
$color-bg-secondary:rgba(245, 247, 250, 1);

$color-card-shadow:rgba(171, 190, 209, 0.2);

//buttons
$button-width-small:128px;
$button-width-medium:151px;
$button-width-large:178px;

$button-height-primary:52px;

$button-radius-primary:4px;

$button-padding-primary:14px 32px;

//images
$image-width-hero:391px;
$image-height-hero:407px;

$image-size-client_compo:48px;

$image-width-value_proposition--card: 65px;
$image-height-value_proposition--card: 56px;

$image-width-article_preview:441.53px;
$image-height-article_preview:328px;

$image-pixelgrade_comp-width:441.53px;
$image-pixelgrade_comp-height:328.99px;

$image-size-demo-arrow:16px;

//cards
$padding-cards-primary:2rem;
$gap-cards-primary:2rem;

$card-width:299px;
$card-height:260px; 
$card-radius:8px; 
$card-padding-top:24px; 
$card-padding-bottom:32px;



