<section class="achievement">
    <div class="achievement__content">
        <h2 class="achievement__title">
            <span class="achievement__title-part achievement__title-part--black">
                Helping a local 
            </span>
            <span class="achievement__title-part achievement__title-part--green">
                business reinvent itself
            </span>
        </h2>
        <p class="achievement__subtitle">
            We reached here with our hard work and dedication
        </p>
    </div>
    <ul class="achievement__counts">
        <li class="achievement__count">
            <img src="assets/achievements/members.png" alt="Members Icon">
            <div class="achievement__count__data">
                <h3 class="achievement__count__number">2,245,341</h3>
                <p class="achievement__count__unit">Members</p>
            </div>
        </li>

        <li class="achievement__count">
            <img src="assets/achievements/clubs.png" alt="Clubs Icon">
            <div class="achievement__count__data">
                <h3 class="achievement__count__number">46,328</h3>
                <p class="achievement__count__unit">Clubs</p>
            </div>
        </li>

        <li class="achievement__count">
            <img src="assets/achievements/events.png" alt="Events Icon">
            <div class="achievement__count__data">
                <h3 class="achievement__count__number">828,867</h3>
                <p class="achievement__count__unit">Event Bookings</p>
            </div>
        </li>

        <li class="achievement__count">
            <img src="assets/achievements/payments.png" alt="Payments Icon">
            <div class="achievement__count__data">
                <h3 class="achievement__count__number">1,926,436</h3>
                <p class="achievement__count__unit">Payments</p>
            </div>
        </li>

    </ul>
</section>
