<section class="value-proposition">
  <header class="value-proposition__header">
    <h2 class="value-proposition__title">
      Manage your entire community <br>
      in a single system
    </h2>
    <p class="value-proposition__subtitle">
      Who is Nextcent suitable for?
    </p>
  </header>

  <ul class="value-proposition__cards">
    <li class="value-proposition__card">
      <img src="assets/value-proposition/members.png" alt="Members icon">
      <h3 class="value-proposition__card-title">Membership<br> Organisations</h3>
      <p class="value-proposition__card-text">Our membership management software provides full automation of membership renewals and payments</p>
    </li>
    <li class="value-proposition__card">
      <img src="assets/value-proposition/national.png" alt="National Association icon">
      <h3 class="value-proposition__card-title">National <br> Associations</h3>
      <p class="value-proposition__card-text">Our membership management software provides full automation of membership renewals and payments</p>
    </li>
    <li class="value-proposition__card">
      <img src="assets/value-proposition/clubs.png" alt="Club icon">
      <h3 class="value-proposition__card-title">Clubs And <br> Groups</h3>
      <p class="value-proposition__card-text">Our membership management software provides full automation of membership renewals and payments</p>
    </li>
  </ul>
</section>