<section class="community-updates">
    <div class="community-updates__header">
        <h2 class="community-updates__title">
            Caring is the new marketing
        </h2>
        <p class="community-updates__description">
            The Nexcent blog is the best place to read about the latest membership insights, trends and more. 
            See who's joining the community, 
            read about how our community are increasing their membership income and lot's more.​
        </p>
    </div>
    <div class="community-updates__overlay">

        <div class="community-updates__card">
            <img src="assets/community-updates/image1.png" alt="Safeguarding responsibilities" class="image-overlay__image">
            <div class="overlay__text-container">
                <p class="image-overlay__text">Creating Streamlined Safeguarding Processes with OneRen</p>
                <a href="#" class="image-overlay__button">Readmore →</a>
            </div>
        </div>


        <div class="community-updates__card">
            <img src="assets/images/community-updates/image1.png" alt="Safeguarding responsibilities" class="image-overlay__image">
            <div class="overlay__text-container">
                <p class="image-overlay__text"> What are your safeguarding responsibilities and how can you manage them? </p>
                <a href="#" class="image-overlay__button">Readmore →</a>
            </div>
        </div>

        <div class="community-updates__card">
            <img src="assets/images/community-updates/image1.png" alt="Safeguarding responsibilities" class="image-overlay__image">
            <div class="overlay__text-container">
                <p class="image-overlay__text"> Revamping the Membership Model with Triathlon Australia </p>
                <a href="#" class="image-overlay__button">Readmore →</a>
            </div>
        </div>

    </div>
</section>
