@use "styles/atoms/_typography.scss";
@import "styles/main.scss";
.clients{
    padding: 2rem 1rem;
    text-align: center;
    &__subtitle{
        @extend %regular;
        padding-bottom: 2rem;
    }
    &__logos{
        @extend %display-flex;     
    }
    &__logo{
        img{
           @extend %image-client_compo;
            &:hover {
                @extend %image-client_compo--hover;             
            }
        }
    }
}

