<section class="clients">
    <div class="clients__content">
        <h2 class="clients__title">
            Our Clients
        </h2>
        <p class="clients__subtitle">
            We have been working with some Fortune 500+ clients
        </p>
    </div>
    <ul class="clients__logos">
        <li class="clients__logo"> <img src="assets/client_logos/logo1.png" alt="Client-1" > </li>
        <li class="clients__logo"> <img src="assets/client_logos/logo2.png" alt="Client-2" > </li>
        <li class="clients__logo"> <img src="assets/client_logos/logo3.png" alt="Client-3" > </li>
        <li class="clients__logo"> <img src="assets/client_logos/logo4.png" alt="Client-4" > </li>
        <li class="clients__logo"> <img src="assets/client_logos/logo5.png" alt="Client-5" > </li>
        <li class="clients__logo"> <img src="assets/client_logos/logo6.png" alt="Client-6" > </li>
        <li class="clients__logo"> <img src="assets/client_logos/logo7.png" alt="Client-7" > </li>
    </ul>
</section>